#error-pic {
    width: 50%;
    height: auto;
    margin-top: -5em;
    margin-bottom: 2em;
}
#error-text {
    margin-bottom: 2em;
}
#error-button {
    margin-bottom: 10em;
}

.btn {
    box-shadow: none;
    margin-left: 0;
    border-radius: 30px;

    background-color: #ffa83f;
}
.btn:hover {
    background-color: #ea4c4b;
    box-shadow: none;
}
