body{
    background-color: #f7ffff;   
}
.btn{
    background-color: #75D19E;
    margin-bottom: 40px;
    box-shadow: none;
    color: #3b4a69;
}
h2 {
    font-family: "Work Sans", sans-serif;
    font-weight: 300;
}

