body{
    background-color: #f7ffff;   
    color: #3B4A69;  
}
.btn{
    background-color: #75D19E;
    margin-bottom: 20px;
    box-shadow: none;
    color:  #f7ffff;
}
.image{
    height: 100px;
    margin-right: 20px;
}
.pitch{
    background-color:  #EBFEEA;
    padding: 10px;
}
.textarea{
    margin-bottom: 20px;
}
.goback{
    margin-bottom: 50px;
}