body{
    background-color: #F7FFFF;
}
img{
    width: 60px;
    margin: 10px auto;
}

.cardBGC {
    background-color: #F7FFFF;
    padding: 8px;
    margin: 30px auto;
    width: 80%;
    box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.10);
}
.margin {
    margin: 0.3em;
}
.margin2 {
    margin: 1em;
}
.height{
    height: 600px;
    overflow: auto;
}
.globalWidth{
    width: 50%;
    margin: auto;
}
.buttonColorVP{
    background-color: #75D19E;
}
.buttonColorDC{
    background-color: #EA4C4B;
}
.btn{
    box-shadow: none;
    width: 200px;
}
.fontSize{
    font-size: 1.5rem;
    color : #3B4A69;
    margin: 10px auto;
}
.flex{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.flex2{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.flex3{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#test::-webkit-scrollbar-track{
    border-radius: 10px;
	background-color: #edf5f5;
}
#test::-webkit-scrollbar{
	width: 8px;
	background-color: #edf5f5;
}
#test::-webkit-scrollbar-thumb{
	border-radius: 10px;
	background-color: #579B9A;
}


@media screen and (max-width: 1055px){
.fontSize{
    font-size: 2rem;
    margin: 10px auto;
}
.flex2{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.flex3{
    flex-direction: row;
}
}
@media screen and (max-width: 568px){
.globalWidth{
        width: 95%;
}
}