
body{
    background-color:#F7FFFF;
    color: #3B4A69;
}
.field{
    width: 90%;
    margin: auto;
}
.image{
    height: 100px;
    margin-right: 20px;
    /* border-radius: 50%; */
}
.maininfo{
    display: flex;
    align-items: center;
}

.bg{
    padding: 10px;
    background-color: #EBFEEA;
}
.rating{
    display: flex;
    align-items: center;
}
.star{
    color: #FFA83F;
}
.scroll{
    overflow:scroll; 
    height: 300px
}
.sendbtn{
    box-shadow: none;
    background-color: #75D19E;
    color: #F7FFFF;
}
.myrow{
    padding: 0px;
}
.textbtn{
    color: #F7FFFF;
}