body{
    background-color: #f7ffff; 
    color: #3B4A69;  
}
.btn{
    background-color: #75D19E;
    margin-bottom: 30px;
    box-shadow: none;
    color: #f7ffff;
}
h2 {
    font-family: "Work Sans", sans-serif;
    font-weight: 300;
}
.star{
    color: #FFA83F;
}
.picnname{
    display: flex;
}
.image{
    height: 100px;
    margin-right: 20px;
}
.name{
    margin-bottom: 4px;
    align-items: center
}
.pitch,.avai,.linkedin,.skills,.rate{
    background-color:  #EBFEEA;
}
.picnname,.space{
    margin-top :50px;
}