body{
    background-color: #F7FFFF;
}
.cardContainer {
    position: relative;
}
.globalWidth {
    width: 90%;
    height: 650px;
    margin: auto;
}
.flex {
    display: flex;
}
#searchField {
    min-width: 20%;
}
.cardBlock{
    min-width: 80%;
}
.hide{
    display: none;
}
.loader {
    position: absolute;
    display: inline-block;
    width: 80px;
    height: 80px;
}
.loader:after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid #579B9A;
    border-color: #579B9A transparent #579B9A transparent;
    animation: loader 1.2s linear infinite;
}
@keyframes loader {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
.cardBGC {
    background-color: #F7FFFF;
    /* background-color: white; */
    padding: 8px;
    margin: 10px 10px;
    width: 225px;
    height: 300px;
    box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.10);
    transition-duration: 0.3s;
}
.cardBGC:hover{
    transform: translateY(-10px);
    box-shadow: 0px 15px 10px 0px rgba(0,0,0,0.20);
}
/** HERE for the scroll bar, need to use overlay to keep all things, aligned */
.height{
    height: 600px;
    overflow: hidden;
    border-left: 1px solid #579B9A;
}
/** the over to display the scroll bar as overlay the card */
.height:hover{
    overflow: overlay;
}
/** HERE THE 3 PARTS NEEDED TO HAVE THE CUSTOM SCROLL BAR */
#mentorList::-webkit-scrollbar-track{
    border-radius: 10px;
	background-color: #edf5f5;
}
#mentorList::-webkit-scrollbar{
	width: 8px;
	background-color: #edf5f5;
}
#mentorList::-webkit-scrollbar-thumb{
	border-radius: 10px;
	background-color: #579B9A;
}
#mentorList{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* justify-content: space-between; */
    padding: 10px;
}
.fontSize{
    font-size: 1.5rem;
    color : #3B4A69;
    margin: 10px auto;
}