.cardContainer {
    position: relative;
}
.globalWidth {
    width: 90%;
    margin: auto;
}
.flex {
    display: flex;
}
#searchField {
    width: 600px;
}
.hide{
    display: none;
}
.loader {
    position: absolute;
    display: inline-block;
    width: 80px;
    height: 80px;
}
.loader:after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid #579B9A;
    border-color: #579B9A transparent #579B9A transparent;
    animation: loader 1.2s linear infinite;
}
@keyframes loader {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}